/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: auto;
}
nav img {
    display: flex;
    height: 20px;
    width: auto;
    gap: 10px;
}
nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding: 10px;
    
}
.lien-nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
    margin-left: 50px;
    margin-right: 50px;
}
h1 {
    font-size: 25px;
    margin-bottom: 5px;
    display: flex;
    gap: 8px;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}
input { /*champs de recherche */
    border: none;
    text-align: center;
    width: 220px;
    height: 40px;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
}
input::placeholder {
    color: black ;
    font-weight: 510;
    font-size: 14px ;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 44px;
}
.icone-et-p { /* icone information + texte */
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 24px;
    width: auto;
}
.icone-et-p i { /* icone information */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    height: 24px;
    width: 24px;
}
form i {  /* icone localisation */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    padding: 14px;
    display: flex;
    color: black;
}
button .fa-magnifying-glass { /* icone loupe */
    background-color: transparent;
    color: #FFFFFF;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    display: none;
  }
  /* Version mobile ex: si la largeur de l'écran est <= à 768px alors applique ceci: */
@media screen and (max-width: 768px) {
    button .fa-magnifying-glass {
      display: inline-flex;
    }
    button span {
      display: none;
    }
  }
  .filtres { /* section filtres */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
}
  .filtres h2 { 
    align-items: center;
    font-size: 18px;
}
.filtres button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    background-color: white;
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    width: 175px;
    margin-top: 35px;
}
.filtres button:hover {
    background-color: #DEEBFF;
}