/********** GÉNÉRAL ET VARIABLES ********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Inclue la taille des éléments, les bordures et le padding */
}

:root { /* variables couleurs principales du site */
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
/*********** STRUCTURE GÉNÉRALE ********/
body {
    display: flex;
    justify-content: center;
}

.main-container {/* conteneur principale (centré, etc)*/
    width: 100%;
    max-width: 1440px; /* évite que le contenue soit trop étiré sur grands écrans */
    padding: 0 50px;
    margin: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}
header {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** BARRE NAVIGATION ***********/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    height: 80px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto 35px auto;
  }
nav img {
    height: 20px;
    margin-top: 30px;
}
.lien-nav {
    display: flex;
    flex-direction: row;
    gap: 68px;
}
nav a {
    padding-top: 15px;
    border-top: 2px solid transparent;
}
nav a:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}
/*********** H1 ET FORMULAIRE DE RECHERCHE *******/
.titre-p p {
    margin: 8px 0px 0px 0px;
    margin-bottom: 20px;
}
h1 {
    font-size: 25px;
    margin-bottom: 5px;
}
form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
    height: 40px;
    width: 350px;
    margin-bottom: 20px;
}
form i {  /* icone localisation */
    background-color: var(--main-bg-color);
    height: 44px;
    padding: 14px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
input { /*champs de recherche */
    border: none;
    text-align: center;
    width: 220px;
    height: 44px;
    border-top:1px solid var(--main-bg-color);
    border-bottom:1px solid var(--main-bg-color);
}
input::placeholder {
    color: black ;
    font-weight: 600;
    font-size: 14px ;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 44px;
    padding: 10px;
}

button .fa-magnifying-glass { /* icone loupe responsive mobile*/
    background-color: transparent;
    color: #FFFFFF;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    border: none;
    display: none;
  }

/****** FILTRES + ICÔNE INFO ***********/

  .filtres { /* section filtres */
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}
    .filtres-buttons {
    display: flex;
    gap: 15px;
}
  .filtres h2 { 
    font-size: 18px;
    font-weight: 700;
}
    .filtres button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 30px;
    background-color: white;
    color: #000000;
    font-size: 17px;
    font-weight: bold;
    height: 50px;
    width: 175px;
}
.filtres button:hover {
    background-color: var(--filter-bg-color); /**/
}
.icone-et-p { /* icone information + texte */
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.icone-et-p i { /* icone information */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    height: 24px;
    width: 24px;
}

/****** HEBERGEMENTS ET POPULAIRES ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}
.hebergements-and-populaires {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-items: stretch;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** HEBERGEMENTS ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;

}
.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.hebergements-cards .card
{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-radius: 20px;
    overflow: hidden;
}
.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.hebergements-cards .card-content {
    display:flex; 
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 15px;
    padding-top: 6px;
    gap: 6px;
}
.hebergements-cards .card-rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 14px;
    padding-top: 9px;
    gap: 2px;
}
.hebergements .afficher-plus {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
/****** POPULAIRES ***********/
.populaires {
    flex-direction: column;
    width: 550px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/************ ACTIVITÉS À MARSEILLE ********/

.activite-a-marseille {
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
    padding: 15px;
}
.activite-a-marseille h2 {
    font-size: 22px;
    margin: 30px 0;
}
.activite-cards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin: auto;
}
.activite-cards .card {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 440px;
   width: 280px;
   gap: 0px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding: 0;
}
.activite-cards img {
    height: 380px;
    object-fit: cover;
    width: 280px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activite-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    font-size: 15px;
}
/********** FOOTER *******/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--main-bg-color);
    margin-top: 35px;
    padding: 25px 20px;
    gap: 40px;
  }
footer a {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
footer h3 {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}
/******************** RESPONSIVE DESIGN ***************************/

/******* LARGE DESKTOP (>= 1440px) ********/
@media (max-width: 1440px) {
    .main-container {
        max-width: 1600px;
        padding: 0px 80px;
        margin: auto;
    }
}

/************ TABLETTE (<= 1024px) **********/
@media (max-width: 1024px) {
    .filtres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .populaires {
        order: 2;
    } 
    .hebergements {
        order: 1;
    }
    .activite-cards {
        gap: 30px;
        justify-content: center;
    }
    .activite-cards .card {
        width: 185px;
        height: 270px;
    }
    .activite-cards img {
        width: 185px;
        height: 200px;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .activite-cards .card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .hebergements-cards a:nth-child(1) { 
        order: 1; }
    .hebergements-cards a:nth-child(2) { 
        order: 2; }
    .hebergements-cards a:nth-child(6) { 
        order: 3; } 
    .hebergements-cards a:nth-child(3) { 
        order: 4; } 
    .hebergements-cards a:nth-child(4) { 
        order: 5; } 
    .hebergements-cards a:nth-child(5) { 
        order: 6; } 
}
/********** MOBILE (<= 768px) ***********/

/* Formulaire */
@media screen and (max-width: 768px) {
    button .fa-magnifying-glass {
      display: inline-flex; 
    }
    button span {
      display: none;
    }
  }
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    .hebergements-and-populaires, 
    .activite-a-marseille, footer {
        padding: 0px;

    }
/* Navigation mobile et formulaire */

    nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 20px;
    }
    .lien-nav {
        justify-content: center;
        width: 100%;
        gap: 15px;
        border-bottom: 2px solid var(--main-bg-color);
    }
    .lien-nav a {
        justify-content: center;
        width: 50%;
        text-align: center;
        padding: 12px 0px;
        border-bottom: 2px solid transparent;
        border-top: none;
    }
    .lien-nav a:hover {
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }
    .titre-p  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 15px;
        margin-top: -15px;
    }
    form {
        margin: auto;
        margin-bottom: 20px;
        width: 300px;
    }
    /* Filtres */

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 0 20px;
    }
    .filtres-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    .filtres button {
        width: 100%;
        border-radius: 15px;
    }
    .icone-et-p {
        padding: 0 20px;
    }
    .icone-et-p i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
        width: 35px;
    }
    /* Hébergements et populaires */
    .hebergements-and-populaires {
        padding: 30px 0px;
        width: 100%;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 20px 45px;
    }
    .hebergements-and-populaires .hebergements {
        background-color: transparent;
    }
    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
        padding: 20px 50px;
        margin-top: 0px;
    }
    .populaires {
        order: 1;
    } 
    .hebergements {
        order: 2;
    }
    /* Populaires */

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .populaires .card {
        width: 340px;
        height: 150px;
        border-radius: 20px;
    }
    .populaires img {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        object-fit: cover;
    }
    /* Hébergements */

    .hebergements .card {
        width: 340px;
        height: 225px;
        gap: 5px;
    }
    .hebergements-cards .card-content {
        padding-top: 8px;
    }
    .hebergements-cards a:nth-child(1) { 
        order: 1; }
    .hebergements-cards a:nth-child(2) { 
        order: 2; }
    .hebergements-cards a:nth-child(6) { 
        order: 3; } 
    .hebergements-cards a:nth-child(3) { 
        order: 4; } 
    .hebergements-cards a:nth-child(4) { 
        order: 5; } 
    .hebergements-cards a:nth-child(5) { 
        order: 6; } 
    /* Activité à Marseille */
    .activite-a-marseille h2 {
        margin: 30px;
    }
    .activite-a-marseille .activite-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;  
    }
    .activite-a-marseille {
        padding: 20px 20px;
        margin: 0px;
    }
    .activite-a-marseille .card {
        width: 325px;
        height: 200px;
        border-radius: 20px;
    }
    .activite-a-marseille img {
        width: 325px;
        height: 140px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
    }
    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 30px 20px;
    }
}